body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    background-image: url('/Front-end/assets/img/fundo.jpg');
    background-size:100%;
  }
  
  .container {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: Arial;
    font-size: 18px;
    color: white;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4285f4;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #357ae8;
  }

  